body{
width: 90%;
margin: 0 auto;
background-color: black;
}
#content{overflow:auto;}
#nav, #feature, #footer{
    margin: 1%;
}
.column1, .column2{
    width: 31.3%;
    float: left;
    margin: 1%;
}
li{
    display: inline;
    padding: 0.5em;
}
#nav, #footer{
    background-color: rgb(45, 131, 206, 0.5);
    padding: 0.5em 0;
}
#feature, .article{
    height: 10em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.3) ;
}
.headerIndex{
    font-size: 10em;
    color:goldenrod;
}
.headerVideo{
    font-size:5em;
    color: beige;
}
p{
    color:beige;
    font-size: 1.5em;
}

.IMGindex{max-width: 44em;}